<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user.present? %>
    <div class="user_creds" style="float: right; padding: 20px; color: #730E15; font-weight: bold;">
      Logged in as <%= current_user.email %>
    </div>
<% end %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
